.todo-app{
  text-align: center;
  line-height: 50px;
}
.todo-input{
  min-width: 200px;
  min-height: 30px;
  border-color: greenyellow;
}
.todo-button{
  height: 30px;
  width: 30px;
  margin-bottom: -10px;
  color: blue;
}
.todo-row{
  padding: 5px;
  line-height: 30px;
  margin: auto;
  background-color: rgb(160, 190, 255);
  display: flex;
  justify-content: space-between;
  width: 20%;
  border: 1px solid;
  border-color: rgb(77, 77, 252);
  overflow: hidden;
  border-radius: 3px;
}
.complete{
  background-color: rgb(85, 151, 88);
  border: 1px solid;
  border-color: rgb(65, 250, 49);
}
.between{
  margin-bottom: 10px;
}